#quote {
    text-align: center;
}
#author {
    text-align: right;
    font-size: 18px;
    font-weight: 100;
}
div {
    font-size: 1.8em;
    background: white;
    /* margin: 150px 400px; */
    margin: 150px auto;
    padding: 15px;
    font-weight: 500;
    font-family: 'Alegreya', serif;
    max-width: 40%;

    
}
body {
    background: black;
    transition: all 1s;
}
#btn {
    color: white;
    font-size: 15px;
    float: right;
    padding: 8px;
    border: none;
    cursor: pointer;
}
a {
    color: inherit;
    font-size: inherit;
}
svg.svg-inline--fa.fa-quote-left.fa-w-16.fa-lg.fa-spin{
    margin-right: 8px;
}
footer {
    text-align: center;
    margin-top: 200px;
    color: white;
}